.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Intellij files
.idea/
gradletuto.iml

java -cp $GROOVY_HOME/libs/groovy-2.3.7.jar:build/libs/gradletuto.jar groovy.fr.uvsq.doosa.gradletuto.Main